@model BlondeHeaven.ViewModels.ShopModelView
@{
    ViewData["Title"] = "Details";
}

@foreach (var noodle in Model.ShopKeepers)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="pull-right">￥@noodle.Name</h3>

                <h3>
                    <a asp-controller="shop"
                       asp-action="Details"
                       asp-route-id="@noodle.Id">@noodle.Name</a>
                </h3>

                <h3>
                    <a asp-controller="shop"
                       asp-action="Delete"
                       asp-route-id="@noodle.Id">@noodle.Name</a>
                </h3>
                <p>@noodle.Sales</p>
                <p>@noodle.Photo</p>
                <h3>我是店铺 只是没有前端美化而已</h3>
            </div>
        </div>
    </div>
}

<div class="list-group">
    @foreach (var feedback in Model.Commoditys)
    {
        <a class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h3>我是商品只是样式错了而已</h3>
                <h5 class="list-group-item-heading">@feedback.Name</h5>
                <small class="pull-right">@feedback.Photo</small>
            </div>
            <p class="list-group-item-text">@feedback.Price</p>
        </a>}

</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
