@model BlondeHeaven.ViewModels.Base.OrderModelView

@{ ViewData["Title"] = "详细信息"; }

<h2>订单详细</h2>
@foreach (var noodle in Model.Orders)
{

    <div class="caption">
        <h3>价格 @noodle.Price</h3>
        <p>单子创建时间 @noodle.DateTime</p>
        <p>店铺名字 @noodle.ShopKeeperName</p>
        <p>商品名字 @noodle.CommodityName</p>
        <p>地址 @noodle.Address</p>
        <p>@noodle.ApplicationUserId</p>
        <p>@noodle.CommodityId</p>
        <p>名字 @noodle.Name</p>
        <p>备注 @noodle.Remarks</p>
        <p>电话号码 @noodle.Phone</p>
        <p>邮箱 @noodle.Email</p>
        <p>预约时间 @noodle.CreateCommodity</p>
        <p>--------------------------------------------------------------------</p>
    </div>


    @if (User.IsInRole("AdminShop"))
    {
        @if (noodle.IsRemo == true)
        {
            <h1>订单已经完成</h1>
        }
        else
        {
            <h1>订单未完成</h1>
        }
    }


}



